header{
    background-color: lightpink;
}
h2{
    text-align: center;
    margin-bottom: 5%;
}
p{
    margin: 3%;
}
.education{
    margin: 3%;
}
.experience{
    margin: 3%;
}
footer{
    text-align: center;
    background-color: lightpink;
    padding: 2%;
}