body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-pink {
    background-color: lightpink !important;
}

.text-white {
    color: white !important;
}
.main{
    text-align: center;
}
h2 {
    text-align: center;
    margin-bottom: 5%;
}

p {
    margin: 3%;
}

.education, .experience {
    margin: 3%;
}

footer {
    background-color: lightpink;
    padding: 2%;
    color: black;
    text-decoration: none;
}